body {
  background-color: #000000;
  margin: 0 auto:; }

h1 {
  color: #fff; }

nav.navbar {
  /* margin: 0 120px; */
max-width:1250px;
margin: 0 auto;
  /* Distance from left and right edges of the screen */
  background-color: #000000;
  /* Set the background color to black */
  border: none;
  /* Remove the border */ }
  nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: #ffffff !important;
    /* Set link text color to white */ }
    nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover, nav.navbar ul.navbar-nav li.nav-item a.nav-link.active {
      border-bottom: 2px solid white;
      /* Underline on hover and when active */ }
  nav.navbar .navbar-brand {
    font-size: 40px;
    font-family: cursive;
    color: #ffffff;
    /* Set text color to white */ }
    nav.navbar .navbar-brand img {
      max-width: 300px;
      /* Allow the width to adjust proportionally */
      display: block;
      /* Make sure it's treated as a block element */ }

section {
  min-height: 30vh;
  margin-bottom: 50px;
  }

.header-section {
  padding: 60px;
  text-align: center; }

.header-section img {
  max-width: 100%;
  height: auto; }

.wideimage {
  width: 100%;
  height: auto;
  position: absolute; }

.maindiv {
  width: 100%; }

.white-text {
  color: #fff; }

.imgpageheader {
    position: absolute;
    z-index: 100;
    padding: 10px;
    text-shadow: 1px 1px red;
    top: 0;
}
.header-row-group {
  position: relative;
}
.navbar-toggler {
	background-color: #fff;
}

.header-image{
  position: relative;
}

.image-with-figure-text{
  color: white;
  padding: 10px;
  text-align: center;
}

.center-h1{
  text-align: center;
  margin-bottom: 40px;
}

.same-size{
    display: flex;
    /* padding: 5px; */
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 263px;
    max-height: 300px;
    max-width: 300px;
    display: inline-flex;
}

p.designer-flare {
  /* margin: 20px; */
  width: 100%;
  padding: 10px;
}

.flare-hr {
  color: white;
  background-color: red;
}

.footer {
  color:#fff;
}


.fixed-top {
  position: relative;
 
}

.header-image2 {
  position: relative;
  height: 100%;
}

.abs {
  height: 100%;
  width: 100%;
  position: relative;
}

.row {
  margin-bottom: 70px;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  justify-content: center;
}


.navbar-collapse {
    text-align-last: center;
}